# #############################################################################
# Generic
# #############################################################################

# yarn's packages
node_modules/

# yarn's log
yarn-error.log

# `npm install`'s lock file (We need yarn.lock rather than package-lock.json).
package-lock.json

# `yarn test`'s aim folder
coverage/

# #############################################################################
# Only for front-end
# #############################################################################

# `yarn build`'s aim folder and files
front/dist/

# #############################################################################
# Only for back-end
# #############################################################################

back/build

back/crawler/*/__pycache__/