@use "../../../styles/fontSize";
@use "../../../styles/fontWeight";
@use "../../../styles/lineHeight";
@use "../../../styles/color";

.markdown {
    h1 { font-size: fontSize.$x5l; }
    h2 { font-size: fontSize.$x4l; }
    h3 { font-size: fontSize.$x3l; }
    h4 { font-size: fontSize.$x2l; }
    h5 { font-size: fontSize.$xl; }
    h6 { font-size: fontSize.$lg; }
    h1, h2, h3, h4, h5, h6 {
        font-weight: fontWeight.$bold;
        line-height: 1.5;
        line-height: lineHeight.$tight;
        margin: calc(fontSize.$base / 2) 0;
    }
    p {
        font-size: fontSize.$base;
        font-weight: fontWeight.$base;
        line-height: lineHeight.$base;
        margin: 0 0 fontSize.$base 0;
    }
    pre {
        background-color: color.$bg-second;
        border-radius: 0.25rem;
        padding: 0.5rem;
        margin: 0 0 fontSize.$base 0;
    }
}
