@use "../../styles/mixin";
@use "../../styles/fontSize";
@use "../../styles/fontWeight";

@mixin formBox {
    @include mixin.box;

    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@mixin titleInFormBox {
    text-align: center;
    font-size: fontSize.$h1;
    font-weight: fontWeight.$bold;
    padding: 0.75rem;
}

@mixin buttonRow {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}
