@use "../../styles/mixin";
@use "../../styles/color";
@use "../../styles/mediaQuery";
@use "../../styles/fontSize";
@use "../../styles/fontWeight";
@use "../../styles/lineHeight";

.wrapper {
    @include mixin.mainpart($padding-at-begin: 0);

    margin-top: 0rem;

    @media (width > mediaQuery.$md) {
        margin-top: 2rem;
    }
}
.Space {
    flex: 1;
}

.nickname{
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 5%;
    
}

.email{
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 5%;
  
}

