$x7l: 2.5rem;
$x6l: 2rem;
$x5l: 1.75rem;
$x4l: 1.625rem;
$x3l: 1.5rem;
$x2l: 1.375rem;
$xl: 1.25rem;
$lg: 1.125rem;
$base: 1rem;

$h0: $x7l;
$h1: $x5l;
$h2: $x4l;
$h3: $x3l;
$h4: $x2l;
$h5: $xl;
$h6: $lg;
