:root {
    --ff-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ff-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --ff-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

$sans: var(--ff-sans);
$serif: var(--ff-serif);
$mono: var(--ff-mono);
