@use "./mediaQuery";

@mixin clickable($shadow: var(--shadow-none), $shadow-hover: var(--shadow)) {
  border: 1px transparent solid;
  box-shadow: $shadow;
  cursor: pointer;
  transition: border-color var(--duration-base),
              color var(--duration-base),
              box-shadow var(--duration-long),
              background-color var(--duration-base);

  &:hover {
    box-shadow: $shadow-hover;
  }
}

@mixin mainpart($padding-at-begin: 1rem) {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-at-begin;
  padding-right: $padding-at-begin;
  width: 100%;
        
  @media (min-width: mediaQuery.$md) {
      padding-left: 1rem;
      padding-right: 1rem;
      width: calc(100% * 10 / 12);
  }
  @media (min-width: mediaQuery.$xl) {
      padding-left: 1rem;
      padding-right: 1rem;
      width: calc(100% * 8 / 12);
  }
}
