@use "./mediaQuery";
@use "./color";
@use "./shadow";

@mixin clickable($shadow: shadow.$none, $shadow-hover: shadow.$base) {
  border: 1px transparent solid;
  box-shadow: $shadow;
  cursor: pointer;
  transition: border-color var(--duration-base),
              color var(--duration-base),
              box-shadow var(--duration-long),
              background-color var(--duration-base);

  &:hover {
    box-shadow: $shadow-hover;
  }
}

@mixin clickable_prime($shadow: shadow.$none, $shadow-hover: shadow.$base) {
  @include clickable($shadow, $shadow-hover);

  background-color: color.$prime;
  color: white;
}

@mixin clickable_normal($shadow: shadow.$none, $shadow-hover: shadow.$base) {
  @include clickable($shadow, $shadow-hover);

  border: 1px color.$border solid;
}

@mixin button_prime($shadow: shadow.$none, $shadow-hover: shadow.$base) {
  @include clickable_prime;

  display: flex;
  place-items: center;
  place-content: center;
  gap: 0.25rem;
}

@mixin mainpart($padding-at-begin: 1rem) {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-at-begin;
  padding-right: $padding-at-begin;
  width: 100%;
        
  @media (min-width: mediaQuery.$md) {
      padding-left: 1rem;
      padding-right: 1rem;
      width: calc(100% * 10 / 12);
  }
  @media (min-width: mediaQuery.$xl) {
      padding-left: 1rem;
      padding-right: 1rem;
      width: calc(100% * 8 / 12);
  }
}

@mixin box {
  border: 1px color.$border solid;
  border-radius: 0.25rem;
  box-shadow: shadow.$base;
  width: 30rem;
  max-width: 100%;
  padding: 1rem;
}

